<section>
  <div class="images">
    <img
      *ngFor="let image of images"
      (dragstart)="drag($event)"
      [src]="image.path"
      [id]="image.id"
      [name]="image.name"
      draggable="true"
      width="300"
      height="200"
    />
  </div>
  <div>
    <h2>apenas doguinhos</h2>
    <div
      (dragover)="allowDrop($event)"
      (drop)="drop($event)"
      class="img-container"
      id="animal"
    ></div>
  </div>
  <div>
    <h2>apenas frutinhas</h2>
    <div
      (dragover)="allowDrop($event)"
      (drop)="drop($event)"
      class="img-container"
      id="fruit"
    ></div>
  </div>
</section>
